# python setting
.conda/

# dataset
dataset/

# Taiyi tool
Taiyi/

# pycache
MLP/model/__pycache__/
extension/__pycache__/
extension/.ipynb_checkpoints/
extension/modules/__pycache__/
extension/modules/.ipynb_checkpoints/
extension/my_modules/__pycache__/

# result
MLP/results/

# wandb related
wandb/
MLP/test_wandb/

# test
MLP/exp/a.txt
