# python setting
.conda/
.vscode/
__pycache__/

# dataset
dataset/

# Taiyi tool
Taiyi/

# pycache
MLP/model/__pycache__/
KAN/model/__pycache__/
KAN/__pycache__/
PDE/__pycache__/
extension/__pycache__/
extension/.ipynb_checkpoints/
extension/modules/__pycache__/
extension/modules/.ipynb_checkpoints/
extension/my_modules/__pycache__/

# result
MLP/results/
results/
PDE/results/
PDE/test/
PDE/exp*

# wandb related
wandb/
MLP/test_wandb/
PDE/wandb/

# test
MLP/exp/
